[Desktop Entry]
Name=MapFlow
Comment=Professional Projection Mapping Software
Exec=MapFlow
Icon=mapmap
Terminal=false
Type=Application
Categories=Graphics;Video;AudioVideo;
Keywords=projection;mapping;vj;
StartupNotify=true
