[Desktop Entry]
Name=Vorce
Comment=Professional Projection Mapping Software
Exec=Vorce
Icon=Vorce
Terminal=false
Type=Application
Categories=Graphics;Video;AudioVideo;
Keywords=projection;mapping;vj;
StartupNotify=true
