<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='*' Name='MapFlow' UpgradeCode='0392650E-1608-4122-8232-024564879201' Manufacturer='MapFlow Contributors' Language='1033' Codepage='1252' Version='0.1.0'>
        <Package Id='*' Keywords='Installer' Description='MapFlow - Open Source VJ Projection Mapping Software' Manufacturer='MapFlow Contributors' InstallerVersion='450' Languages='1033' Compressed='yes' InstallScope='perMachine' SummaryCodepage='1252' Platform='x64'/>
        <MajorUpgrade Schedule='afterInstallInitialize' DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.' />
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
        <Property Id='DiskPrompt' Value='MapFlow Installation [1]' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder'>
                <Directory Id='INSTALLFOLDER' Name='MapFlow'>
                    <Component Id='MainExecutable' Guid='*' Win64='yes'>
                        <File Id='MapFlowEXE' Name='MapFlow.exe' Source='$(var.CargoTargetBinDir)\MapFlow.exe' KeyPath='yes'>
                            <Shortcut Id='startmenuMapFlow' Directory='ProgramMenuDir' Name='MapFlow' WorkingDirectory='INSTALLFOLDER' Icon='MapFlowIcon.exe' IconIndex='0' Advertise='yes' />
                            <Shortcut Id='desktopMapFlow' Directory='DesktopFolder' Name='MapFlow' WorkingDirectory='INSTALLFOLDER' Icon='MapFlowIcon.exe' IconIndex='0' Advertise='yes' />
                        </File>
                    </Component>
                    <!-- FFmpeg DLLs (FFmpeg 7.1 / vcpkg versions) -->
                    <Component Id='avcodec' Guid='*' Win64='yes'>
                        <File Id='avcodec' Name='avcodec-61.dll' Source='$(var.CargoTargetBinDir)\avcodec-61.dll' KeyPath='yes' />
                    </Component>
                    <Component Id='avdevice' Guid='*' Win64='yes'>
                        <File Id='avdevice' Name='avdevice-61.dll' Source='$(var.CargoTargetBinDir)\avdevice-61.dll' KeyPath='yes' />
                    </Component>
                    <Component Id='avfilter' Guid='*' Win64='yes'>
                        <File Id='avfilter' Name='avfilter-10.dll' Source='$(var.CargoTargetBinDir)\avfilter-10.dll' KeyPath='yes' />
                    </Component>
                    <Component Id='avformat' Guid='*' Win64='yes'>
                        <File Id='avformat' Name='avformat-61.dll' Source='$(var.CargoTargetBinDir)\avformat-61.dll' KeyPath='yes' />
                    </Component>
                    <Component Id='avutil' Guid='*' Win64='yes'>
                        <File Id='avutil' Name='avutil-59.dll' Source='$(var.CargoTargetBinDir)\avutil-59.dll' KeyPath='yes' />
                    </Component>
                    <Component Id='swresample' Guid='*' Win64='yes'>
                        <File Id='swresample' Name='swresample-5.dll' Source='$(var.CargoTargetBinDir)\swresample-5.dll' KeyPath='yes' />
                    </Component>
                    <Component Id='swscale' Guid='*' Win64='yes'>
                        <File Id='swscale' Name='swscale-8.dll' Source='$(var.CargoTargetBinDir)\swscale-8.dll' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="MapFlow" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>
        <Feature Id='Complete' Level='1'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='ProgramMenuDir' />
            <ComponentRef Id='avcodec' />
            <ComponentRef Id='avdevice' />
            <ComponentRef Id='avfilter' />
            <ComponentRef Id='avformat' />
            <ComponentRef Id='avutil' />
            <ComponentRef Id='swresample' />
            <ComponentRef Id='swscale' />
        </Feature>
        <Component Id="ProgramMenuDir" Directory="ProgramMenuDir" Guid="*" Win64='yes'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
        </Component>
        <!-- Icon path: from target\release go up 2 levels to project root, then into resources -->
        <Icon Id="MapFlowIcon.exe" SourceFile="$(var.CargoTargetBinDir)\..\..\resources\app_icons\MapFlow_Logo_LQ-Full.ico" />
        <Property Id="ARPPRODUCTICON" Value="MapFlowIcon.exe" />
        <UI>
            <UIRef Id="WixUI_Minimal" />
        </UI>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <!-- License path: from target\release go up 2 levels to project root, then into crates\mapmap\wix -->
        <WixVariable Id="WixUILicenseRtf" Value="$(var.CargoTargetBinDir)\..\..\crates\mapmap\wix\License.rtf" />
    </Product>
</Wix>
