<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleIdentifier</key>
<string>__VORCE_BUNDLE_ID__</string>
<key>CFBundleName</key>
<string>Vorce</string>
<key>CFBundleExecutable</key>
<string>Vorce</string>
<key>CFBundlePackageGetInfoString</key>
<string>Open source video mapping software</string>
<key>CFBundleIconFile</key>
<string>vorce.icns</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleVersion</key>
<string>__VORCE_VERSION__</string>
<key>CFBundleShortVersionString</key>
<string>__VORCE_VERSION__</string>
<key>LSMinimumSystemVersion</key>
<string>10.10</string>
<key>NSPrincipalClass</key>
<string>NSApplication</string>
<key>NSSupportsAutomaticGraphicsSwitching</key>
<true/>

</dict>
</plist>
