[Desktop Entry]
Version=1.0
Name=MapFlow
GenericName=MapFlow Projection Mapping
GenericName[fr]=MapFlow Projection Mapping
Comment=MapFlow is a free/libre video projection mapping editor
Comment[fr]=MapFlow est un éditeur pour la projection video mapping
TryExec=mapflow
Exec=mapflow %f
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;AudioVideo;Video;
Icon=/usr/share/icons/hicolor/scalable/apps/mapflow.svg
